package-lock.json
node_modules/
test/report.xml
#idea
.idea/
nbproject/
al-cwe-collector.zip
test/ide_test.js
.env
*.swp

# Test coverage
.nyc_output/
coverage/
*.coverage.xml

# alps directories
.ps_outputs
